.*
*~
*.lock
*.json
*.j2
*.xml
*.vsix
**/*.ts
**/*.map
**/*.py
**/*.log
dist/**
clients/emacs/**
htmlcov/**
salt_lsp*/**
tests/**
pyproject.toml
**/__pycache__/*
.github/**
.vscode/**
.pytest_cache/**
